.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: blueviolet;
  padding: 2em;
}

.login-box input {
  margin-top: 10px;
  display: block;
  border-radius: 5px;
  margin: 1em auto;
  border: 1px solid #dbdbdb;
  padding: 10px;
}

span {
  margin: auto;
  padding: auto;
  border-radius: 3px;
}